@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.testPassword {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;
  background-color: $main-bg-color;

  transition: color $effectDuration, background-color $effectDuration;

  &__container {
    height: 100vh;
    padding-inline: 40px;
    justify-content: center;
    align-content: center;

    @include pageGrid;
    @include onTablet {
      max-width: 800px;
      margin-inline: auto;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.2px;

    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 2 / -2;
    }
  }

  &__form {
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 2 / -2;
    }
  }

  &__label {
    display: inline-block;
    padding: 0 15px 5px;
    cursor: pointer;
  }

  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px;

    font-size: 16px;

    border: 1px solid var($main-text-color);
    border-radius: 20px;
    background-color: $main-bg-color;

    &::placeholder {
      font-size: 14px;
      color: $main-text-color;
      opacity: 0.7;
    }
  
    @include hover(border-color, blueviolet);
  
    &:focus {
      border-color: blue;
      outline: none;
    }
  }

  &__strength {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 3 / -3;
    }

    &--none {
      background-color: gray;
    }

    &--short {
      background-color: red;
    }

    &--easy {
      &:nth-of-type(1) {
        background-color: red;
      }

      &:nth-of-type(n+2) {
        background-color: gray;
      }
    }

    &--medium {
      &:nth-of-type(-n+2) {
        background-color: yellow;
      }

      &:nth-of-type(3) {
        background-color: gray;
      }
    }

    &--strong {
      background-color: green;
    }
  }
}
